In [13]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
sys.path.append('/projects/trans_scratch/validations/workspace/szong/Cervical/notebook')
import sz_toolbox as szt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [97]:
wkdir = '/projects/trans_scratch/validations/workspace/szong/Cervical/cnv/'
hivposf = '/home/szong/bin/GISTIC_2_0_22/gatk_118_HIV_pos/broad_significance_results.txt'
hivnegf = '/home/szong/bin/GISTIC_2_0_22/gatk_118_HIV_neg/broad_significance_results.txt'
tcgaf = '/home/szong/bin/GISTIC_2_0_22/tcga/broad_significance_results.txt'
htmcpf = '/home/szong/bin/GISTIC_2_0_22/gatk_118_patients/broad_significance_results.txt'
arm_threshold = 0.25
hivpos = pd.read_csv(hivposf, sep='\t')
hivpos.head(2)
hivneg = pd.read_csv(hivnegf, sep='\t')
hivneg[:2]
tcga = pd.read_csv(tcgaf, sep='\t')
tcga[:2]
htmcp = pd.read_csv(htmcpf, sep='\t')
htmcp[:2]

,Arm,# Genes,Amp frequency,Amp z-score,Amp q-value,Del Frequency,Del z-score,Del q-value
0,1p,2121,0.55,4.20,0.000117,0.19,-1.55,0.998
1,1q,1955,0.61,5.25,0.000001,0.07,-2.94,0.998

,Arm,# Genes,Amp frequency,Amp z-score,Amp q-value,Del Frequency,Del z-score,Del q-value
0,1p,2121,0.58,3.36,2.270000e-03,0.30,-0.203,0.997
1,1q,1955,0.77,6.27,3.530000e-09,0.17,-1.140,0.997

,Arm,# Genes,Amp frequency,Amp z-score,Amp q-value,Del Frequency,Del z-score,Del q-value
0,1p,2121,0.36,6.03,1.050000e-08,0.06,-3.43,1.0
1,1q,1955,0.51,10.90,0.000000e+00,0.06,-3.17,1.0

,Arm,# Genes,Amp frequency,Amp z-score,Amp q-value,Del Frequency,Del z-score,Del q-value
0,1p,2121,0.53,5.05,1.490000e-06,0.21,-1.56,0.999
1,1q,1955,0.66,7.93,2.220000e-14,0.12,-2.74,0.999

In [87]:
def uniq_bands(df1, df2, alteration_type):
    d = {'amp': 'Amp q-value', 'del': 'Del q-value'}
    alt_type = d[alteration_type.lower()]
    alter1 = df1[df1[alt_type] <=arm_threshold].Arm.tolist()
    alter2 = df2[df2[alt_type] <=arm_threshold].Arm.tolist()
#     szt.intersect(df1_amp, df2_amp)
    uniq1 = szt.unique2a(alter1, alter2)
    uniq2 = szt.unique2a(alter2, alter1)
    return (uniq1, uniq2)

In [88]:
def shared_bands(df1, df2, alteration_type):
    d = {'amp': 'Amp q-value', 'del': 'Del q-value'}
    alt_type = d[alteration_type.lower()]
    alter1 = df1[df1[alt_type] <=arm_threshold].Arm.tolist()
    alter2 = df2[df2[alt_type] <=arm_threshold].Arm.tolist()
#     szt.intersect(df1_amp, df2_amp)
    shared = szt.intersect(alter1, alter2)
    return (shared)

In [ ]:
szt.dd

In [89]:
hivpos_uniqamp, hivneg_uniqamp = uniq_bands(hivpos, hivneg, 'amp')
hivpos_uniqdel, hivneg_uniqdel = uniq_bands(hivpos, hivneg, 'Del')
hivshared_amp = shared_bands(hivpos, hivneg, 'amp')
hivshared_del = shared_bands(hivpos, hivneg, 'Del')

In [81]:
hivshared_amp
hivshared_del

['5p', '1p', '1q', '20p', '3q', '20q']

['4p', '21p']

In [8]:
szt.list2csv?

In [51]:
uniq_bands(tcga, htmcp, 'amp')
uniq_bands(tcga, htmcp, 'del')

([], ['6p', '8p', '9q', '2p', '3p', '16p'])

(['8p', '18q', '10q', '5q', '17p', '22q', '6q', '3q', '9p'], ['21p', '21q'])

In [93]:
def sig_bands(df1, alteration_type):
    d = {'amp': 'Amp q-value', 'del': 'Del q-value'}
    alt_type = d[alteration_type.lower()]
    alter1 = df1[df1[alt_type] <=arm_threshold].Arm.tolist()
    return (alter1)

In [36]:
# htmcp_amp = set(hivshared_amp + hivpos_uniqamp + hivneg_uniqamp)
# len(htmcp_amp)

# htmcp_del = set(hivshared_del + hivpos_uniqdel + hivneg_uniqdel)
# len(htmcp_del)

17

10

In [95]:
tcga_amps = sig_bands(tcga, 'amp')
tcga_dels = sig_bands(tcga, 'del')
tcga_amps
tcga_dels
htmcp_amps = sig_bands(htmcp, 'amp')
htmcp_dels = sig_bands(htmcp, 'del')
htmcp_amps
htmcp_dels

['1p', '1q', '3q', '5p', '8q', '19q', '20p', '20q']

['3p',
 '3q',
 '4p',
 '4q',
 '5q',
 '6q',
 '8p',
 '9p',
 '10q',
 '11p',
 '11q',
 '13q',
 '17p',
 '18q',
 '19p',
 '22q']

['1p',
 '1q',
 '2p',
 '3p',
 '3q',
 '5p',
 '6p',
 '8p',
 '8q',
 '9q',
 '16p',
 '19q',
 '20p',
 '20q']

['3p', '4p', '4q', '11p', '11q', '13q', '19p', '21p', '21q']

In [33]:
hiv_union_del = set(hivshared_del + hivpos_uniqdel + hivneg_uniqdel)
len(hiv_union_del)

10

In [70]:
# tcga_uniqamp = szt.unique2a(tcga_amps, htmcp_amp)
# htmcp_uniqamp = szt.unique2a( htmcp_amp, tcga_amps)
# tcga_uniqamp
# htmcp_uniqamp

[]

['9q', '8p', '6p', '16p', '19q', '16q', '15q', '3p', '14q', '9p']

In [71]:
# tcga_uniqdel = szt.unique2a(tcga_dels, htmcp_del)
# htmcp_uniqdel = szt.unique2a(htmcp_del, tcga_dels)
# tcga_uniqdel
# htmcp_uniqdel

['17p', '8p', '10q', '6q']

['19p', '5q', '21p', '21q']

In [96]:
tcga_uniqamp, htmcp_uniqamp = uniq_bands(tcga, htmcp, 'amp')
tcga_uniqamp 
htmcp_uniqamp
tcga_uniqdel, htmcp_uniqdel = uniq_bands(tcga, htmcp, 'del')
tcga_uniqdel
htmcp_uniqdel

shared_bands(tcga, htmcp, 'amp')
shared_bands(tcga, htmcp, 'del')

[]

['6p', '8p', '9q', '2p', '3p', '16p']

['8p', '18q', '10q', '5q', '17p', '22q', '6q', '3q', '9p']

['21p', '21q']

['8q', '5p', '1p', '1q', '19q', '20p', '3q', '20q']

['13q', '19p', '11q', '4q', '4p', '11p', '3p']

In [91]:
of = f'{wkdir}hivpos_uniqamp_arms_{arm_threshold}.txt'
szt.list2csv(hivpos_uniqamp, of)
of = f'{wkdir}hivneg_uniqamp_arms_{arm_threshold}.txt'
szt.list2csv(hivneg_uniqamp, of)
of = f'{wkdir}hivpos_uniqdel_arms_{arm_threshold}.txt'
szt.list2csv(hivpos_uniqdel, of)
of = f'{wkdir}hivneg_uniqdel_arms_{arm_threshold}.txt'
szt.list2csv(hivneg_uniqdel, of)

of = f'{wkdir}hiv_sharedamp_arms_{arm_threshold}.txt'
szt.list2csv(hivshared_amp, of)
of = f'{wkdir}hiv_shareddel_arms_{arm_threshold}.txt'
szt.list2csv(hivshared_del, of)

of = f'{wkdir}tcga_uniqdel_arms_{arm_threshold}.txt'
szt.list2csv(tcga_uniqdel, of)


of = f'{wkdir}htmcp_uniqdel_arms_{arm_threshold}.txt'
szt.list2csv(htmcp_uniqdel, of)

of = f'{wkdir}htmcp_uniqamp_arms_{arm_threshold}.txt'
szt.list2csv(htmcp_uniqamp, of)