In [1]:
import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.patches as patches
from matplotlib import style, colors
from matplotlib import gridspec

matplotlib.style.use('ggplot')
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (8, 6)

In [25]:
pd.read_csv?

In [151]:
f1 = '/projects/trans_scratch/validations/workspace/szong/Cervical/spliceosome/spliceosome_snvs.txt'
f2 = '/projects/trans_scratch/validations/workspace/szong/Cervical/spliceosome/spliceosome_cnvs.txt'
f3 = '/projects/trans_scratch/validations/workspace/szong/Cervical/spliceosome/spliceosome_fusions.txt'
f4 = '/projects/trans_scratch/validations/workspace/szong/Cervical/spliceosome/patient_name_lib_id.txt'
df1 = pd.read_csv(f1, sep='\t',usecols=['gene', 'patient_ID','n_DNA_AF'])#, index_col=['patient_ID', 'gene']) 
df2 = pd.read_csv(f2, sep='\t', usecols=['patient', 'gene', 'cnv' ])#,  index_col=['patient', 'gene']) 
df3 = pd.read_csv(f3, sep='\t', usecols=['rna_lib', 'fusion_partner'])
df4 = pd.read_csv(f4, sep='\t', usecols=['patient', 'rna_lib'])

In [152]:
df1 = df1.drop_duplicates().set_index(['patient_ID', 'gene'])
df1.head()

                         n_DNA_AF
patient_ID        gene
HTMCP-03-06-02007 SF3B1       0.0
HTMCP-03-06-02103 SF3B1       0.0
HTMCP-03-06-02026 SF3B1       0.0
HTMCP-03-06-02109 SF3B1       0.0
HTMCP-03-06-02447 SF3B1       0.0

In [153]:
df2 = df2.drop_duplicates().set_index(['patient', 'gene'])
df2.head(3)

                        cnv
patient           gene
HTMCP-03-06-02003 SF1     3
HTMCP-03-06-02006 SF1     1
HTMCP-03-06-02020 SF1     3

In [154]:
df5 = pd.concat([df1, df2]).sort_index()
df5.head()

                         cnv  n_DNA_AF
patient_ID        gene
HTMCP-03-06-02003 SF1    3.0       NaN
                  U2AF1  1.0       NaN
HTMCP-03-06-02006 SF1    1.0       NaN
                  U2AF1  1.0       NaN
                  U2AF2  3.0       NaN

In [155]:
df4.head(3)

             patient rna_lib
0  HTMCP-03-06-02001  A37700
1  HTMCP-03-06-02002  A37701
2  HTMCP-03-06-02003  A37702

In [156]:
df3.head()

  rna_lib             fusion_partner
0  A57109  IL4I1,U2AF1,translocation
1  A57122     SF1,EPG5,translocation

In [162]:
df6 = pd.merge(df4, df3, left_on='rna_lib', right_on='rna_lib')
df6['gene'] = ['U2AF1', 'SF1']
df6 = df6.set_index(['patient', 'gene']).drop('rna_lib', axis=1)

# df6 = df6.set_index(['patient', 'gene'])
df6.head()

                                    fusion_partner
patient           gene
HTMCP-03-06-02157 U2AF1  IL4I1,U2AF1,translocation
HTMCP-03-06-02239 SF1       SF1,EPG5,translocation

In [163]:
df7 = pd.concat([df5, df6]).sort_index()
df7.head()

                         cnv fusion_partner  n_DNA_AF
patient_ID        gene
HTMCP-03-06-02003 SF1    3.0            NaN       NaN
                  U2AF1  1.0            NaN       NaN
HTMCP-03-06-02006 SF1    1.0            NaN       NaN
                  U2AF1  1.0            NaN       NaN
                  U2AF2  3.0            NaN       NaN

In [183]:
df7.loc['HTMCP-03-06-02003']

       cnv fusion_partner  n_DNA_AF
gene
SF1    3.0            NaN       NaN
U2AF1  1.0            NaN       NaN

all patients which have either snv, fusion, or copy number change in at least one of the spliceosome genes, maybe i should exclude copy number gains since we consider changes that will disrupt the splicing

In [189]:

df7.index.get_level_values(0).drop_duplicates().tolist()

['HTMCP-03-06-02003',
 'HTMCP-03-06-02006',
 'HTMCP-03-06-02007',
 'HTMCP-03-06-02012',
 'HTMCP-03-06-02013',
 'HTMCP-03-06-02020',
 'HTMCP-03-06-02026',
 'HTMCP-03-06-02037',
 'HTMCP-03-06-02040',
 'HTMCP-03-06-02046',
 'HTMCP-03-06-02047',
 'HTMCP-03-06-02061',
 'HTMCP-03-06-02063',
 'HTMCP-03-06-02068',
 'HTMCP-03-06-02071',
 'HTMCP-03-06-02074',
 'HTMCP-03-06-02075',
 'HTMCP-03-06-02076',
 'HTMCP-03-06-02089',
 'HTMCP-03-06-02092',
 'HTMCP-03-06-02098',
 'HTMCP-03-06-02099',
 'HTMCP-03-06-02103',
 'HTMCP-03-06-02108',
 'HTMCP-03-06-02109',
 'HTMCP-03-06-02110',
 'HTMCP-03-06-02113',
 'HTMCP-03-06-02120',
 'HTMCP-03-06-02128',
 'HTMCP-03-06-02145',
 'HTMCP-03-06-02147',
 'HTMCP-03-06-02148',
 'HTMCP-03-06-02150',
 'HTMCP-03-06-02151',
 'HTMCP-03-06-02156',
 'HTMCP-03-06-02157',
 'HTMCP-03-06-02170',
 'HTMCP-03-06-02174',
 'HTMCP-03-06-02175',
 'HTMCP-03-06-02176',
 'HTMCP-03-06-02179',
 'HTMCP-03-06-02182',
 'HTMCP-03-06-02185',
 'HTMCP-03-06-02194',
 'HTMCP-03-06-02197',
 'HTMCP-03-06-02202',
 'HTMCP-03-06-02203',
 'HTMCP-03-06-02204',
 'HTMCP-03-06-02205',
 'HTMCP-03-06-02209',
 'HTMCP-03-06-02210',
 'HTMCP-03-06-02213',
 'HTMCP-03-06-02214',
 'HTMCP-03-06-02215',
 'HTMCP-03-06-02216',
 'HTMCP-03-06-02217',
 'HTMCP-03-06-02219',
 'HTMCP-03-06-02222',
 'HTMCP-03-06-02230',
 'HTMCP-03-06-02238',
 'HTMCP-03-06-02239',
 'HTMCP-03-06-02259',
 'HTMCP-03-06-02260',
 'HTMCP-03-06-02266',
 'HTMCP-03-06-02320',
 'HTMCP-03-06-02322',
 'HTMCP-03-06-02326',
 'HTMCP-03-06-02335',
 'HTMCP-03-06-02340',
 'HTMCP-03-06-02341',
 'HTMCP-03-06-02344',
 'HTMCP-03-06-02346',
 'HTMCP-03-06-02392',
 'HTMCP-03-06-02393',
 'HTMCP-03-06-02414',
 'HTMCP-03-06-02424',
 'HTMCP-03-06-02428',
 'HTMCP-03-06-02435',
 'HTMCP-03-06-02437',
 'HTMCP-03-06-02441',
 'HTMCP-03-06-02447',
 'HTMCP-03-06-02448']