In [2]:
import matplotlib
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import style, colors
from matplotlib import gridspec

matplotlib.style.use('ggplot')
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (8, 6)

In [3]:
def unique(a):
    """ return the list with duplicate elements removed """
    return list(set(a))

def intersect(a, b):
    """ return the intersection of two lists """
    return list(set(a) & set(b))

def union(a, b):
    """ return the union of two lists """
    return list(set(a) | set(b))

def exclusive(a, b):
    """ return items either exclusive in a or b """
    return list(set(a) ^ set(b))

def unique2a(a, b):
    """ return items only in a, but not in b """
    return list(set(a) & set(set(a) ^ set(b)))

def write(lst, of):
    with open(of, "w") as output:
        writer = csv.writer(output, lineterminator='\n')
        for val in lst:
            writer.writerow([val])

In [4]:
f1 = '/projects/trans_scratch/validations/workspace/szong/Cervical/fusion/124_patients/patients_with_gv_results.tmp'
df1 = pd.read_csv(f1, header=None)
df1.head(2)

                   0
0  HTMCP-03-06-02001
1  HTMCP-03-06-02002

In [5]:
lst1 = df1[0].tolist()

In [6]:
f2 = '/projects/trans_scratch/validations/workspace/szong/Cervical/HIV_Cervical_patients.txt'
df2 = pd.read_csv(f2, header=None)
df2.head(2)

                   0
0  HTMCP-03-06-02001
1  HTMCP-03-06-02002

In [7]:
lst2 = df2[0].tolist()

In [10]:
len(unique2a(lst2, lst1))

35

In [9]:
for i in unique2a(lst2, lst1):
    print(i)

HTMCP-03-06-02139
HTMCP-03-06-02435
HTMCP-03-06-02202
HTMCP-03-06-02204
HTMCP-03-06-02151
HTMCP-03-06-02174
HTMCP-03-06-02194
HTMCP-03-06-02448
HTMCP-03-06-02152
HTMCP-03-06-02180
HTMCP-03-06-02203
HTMCP-03-06-02195
HTMCP-03-06-02144
HTMCP-03-06-02209
HTMCP-03-06-02196
HTMCP-03-06-02156
HTMCP-03-06-02150
HTMCP-03-06-02157
HTMCP-03-06-02092
HTMCP-03-06-02175
HTMCP-03-06-02128
HTMCP-03-06-02147
HTMCP-03-06-02113
HTMCP-03-06-02179
HTMCP-03-06-02170
HTMCP-03-06-02125
HTMCP-03-06-02155
HTMCP-03-06-02145
HTMCP-03-06-02185
HTMCP-03-06-02176
HTMCP-03-06-02120
HTMCP-03-06-02210
HTMCP-03-06-02148
HTMCP-03-06-02205
HTMCP-03-06-02149

In [12]:
len(unique2a(a, b))

63

In [19]:
d = unique2a(c, a)

In [38]:
len(unique2a(c, z))

49

In [27]:
# unique in tcga
a = df2[0].tolist()
b = df1[0].tolist()
print(len(unique2a(a, b)))
print(len(union(a, b)))
print(len(intersect(a, b)))
print(len(exclusive(a, b)))

3341
8044
2571
5473

In [31]:
of2 = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/124_patients/tcga_genes_mutated_in_3_or_mroe_patients_not_recurrent_in_NCI.txt'
write(unique2a(a, b), of2)