In [1]:
import matplotlib
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import style, colors
from matplotlib import gridspec

matplotlib.style.use('ggplot')
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (8, 6)

In [8]:
f1 = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/124_patients/4703_genes_mutated_in_3_or_mroe_patients_plus_epigenetic_regulator_genes.txt'
df1 = pd.read_csv(f1, header=None)
df1.head()

        0
0    MUC4
1     TTN
2  PIK3CA
3  AHNAK2
4   MUC16

In [7]:
f2 = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/124_patients/5912_tcga_genes_mutated_in_3_or_mroe_patients.txt'
df2 = pd.read_csv(f2, header=None)
df2.head()

       0
0    A2M
1  A2ML1
2   AAAS
3   AACS
4   AAK1

In [30]:
def unique(a):
    """ return the list with duplicate elements removed """
    return list(set(a))

def intersect(a, b):
    """ return the intersection of two lists """
    return list(set(a) & set(b))

def union(a, b):
    """ return the union of two lists """
    return list(set(a) | set(b))

def exclusive(a, b):
    """ return items either exclusive in a or b """
    return list(set(a) ^ set(b))

def unique2a(a, b):
    """ return items only in a, but not in b """
    return list(set(a) & set(set(a) ^ set(b)))

def write(lst, of):
    with open(of, "w") as output:
        writer = csv.writer(output, lineterminator='\n')
        for val in lst:
            writer.writerow([val])

In [27]:
# unique in tcga
a = df2[0].tolist()
b = df1[0].tolist()
print(len(unique2a(a, b)))
print(len(union(a, b)))
print(len(intersect(a, b)))
print(len(exclusive(a, b)))

3341
8044
2571
5473

In [31]:
of2 = '/projects/trans_scratch/validations/workspace/szong/Cervical/variant_bwamem/124_patients/tcga_genes_mutated_in_3_or_mroe_patients_not_recurrent_in_NCI.txt'
write(unique2a(a, b), of2)